<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quae rem quam. Assumenda reprehenderit ea est facere qui dolores beatae, maxime modi illum quam libero nostrum voluptates suscipit quisquam? Asperiores?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem id blanditiis enim, officia possimus ut qui obcaecati, nulla deleniti accusamus quam illo inventore eius ullam aliquid eum dignissimos dolorem dicta!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet temporibus magni fuga, vitae fugit voluptate! Quaerat quos eos assumenda delectus, recusandae provident cumque, aspernatur beatae nobis reprehenderit minus expedita tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptates unde autem eligendi expedita incidunt provident optio sed nostrum nihil maiores soluta labore dignissimos molestias porro mollitia et ad? Id?
        <br/>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, consequuntur! Modi vero vitae fuga exercitationem. Amet quis reiciendis aliquid officia animi quo nobis repudiandae, possimus, dicta atque optio sunt. Ullam?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi iusto, deserunt, saepe cupiditate qui id, velit ut ipsum assumenda aspernatur neque itaque minus! Deleniti suscipit maxime voluptatem! Consectetur, amet deserunt.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque veritatis voluptas fuga reiciendis, iste numquam? Autem nulla sequi id quidem dolores, laboriosam fugit quia ad voluptates at totam, commodi non?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis exercitationem, et repudiandae quis voluptas deserunt velit quas non debitis. Possimus explicabo cum at excepturi porro exercitationem corporis odio optio rem.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores inventore debitis at eligendi doloribus voluptates, nemo quod ipsam reprehenderit id nesciunt est, culpa, error ullam modi illum fugiat quidem ad!
        <br/>
    </p>
</div>